@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl mb-8;
}

@keyframes fade {
  from {
    background-color: yellow;
    font-family: black;
  }
  to {
    background-color: transparent;
  }
}

.animate-fade {
  animation: fade 3s ease-in-out;
}
